# ## General ###
# System files 
.DS_Store
Thumbs.db

# IDE and editor directories 
.vscode/
.idea/

# Log files 
*.log
npm-debug.log*

# Environment variables (will ignore in all folders) 
.env
.env.local
.env.*.local

# ### Project Specific ###
# ANPR folder
/anpr/venv/
/anpr/weights/

# Frontend folder
/frontend/node_modules/
/frontend/build/

# Backend folder
/backend/node_modules/

# Python cache 
__pycache__/
*.pyc

##OTHERS
bfg.jar